@charset "UTF-8";
html 
{
box-sizing: border-box;
}
* 
{
box-sizing: inherit;
}

body 
{
font-family: monospace;
font-size: 100%;
background-color: rgb(21, 0, 255);
margin: 0;
}

#container 
{
display: grid;
grid-template-rows: auto auto 5em;
grid-template-columns: minmax(25em, 1fr) 16em;
grid-template-areas:
"banner banner"
"main hours"
"footer footer";

}
header 
{
grid-area: banner;
}
main 
{
grid-area: main;
}
aside 
{
grid-area: hours;
}
footer 
{
grid-area: footer;

}

a:link, a:visited { color: #fbff00; }
a:focus, a:hover, a:active { color: #F9AB33; }

a 
{
text-decoration: none;
border-bottom: 1px dotted;
padding-bottom: .2em;
}

header 
{
color: rgb(0, 0, 0);
background: url(back.png) no-repeat center center;
background-size: cover;
text-align: center;
height: 25em;
}

header h1 
{
font-size: 4em;
}


nav, footer 
{
font-family: monospace;
background-color: rgb(172, 232, 231);
font-size: 1.5em;
}
nav ul li a:link, nav ul li a:visited 
{
color: #000000;
}
nav ul li a:focus, nav ul li a:hover, nav ul li a:active 
{
color: #fff;
}
nav ul 
{
margin: 0;
padding: 0;
list-style-type: none;
display: flex;
justify-content: center;
}

nav ul li 
{
font-size: .8em;
text-transform: uppercase;
letter-spacing: .2em;
}

nav ul li a 
{
display: block;
border: 1px solid;
border-radius: .5em;
padding: .5em 1em;
margin: .5em;
}


main 
{
font-family: monospace serif;
background-color: rgb(172, 232, 231);
line-height: 1.8em;
color: #555;
padding: 1em;
border: double 4px rgb(172, 232, 231);
border-radius: 25px;
margin: 6%;
margin-left: 2em;
}
main p
{
font-size: 1.5em;
}

h3 
{
text-transform: uppercase;
letter-spacing: .2em;
color: #0d29e1;
border-top: 1px solid;
border-left: 3px solid;
padding-left: 1em;
margin-top: 2.5em;
font-size: 2em;
}


p.more 
{
font-family: monospace, sans-serif;
text-transform: uppercase;
font-size: 2em;
clear: left;
}

main img 
{
float: left;
margin: 0 1em 1em 0;
}

img[src*="fixing pc"] 
{
-webkit-shape-outside: ellipse(130px 95px at 50% 50%);
shape-outside: ellipse(130px 95px at 50% 50%);
}

img[src*="custom pc"] 
{
margin-left: 50px;
-webkit-shape-outside: circle(125px);
shape-outside: circle(125px);
-webkit-shape-outside: polygon(0px 0px, 197px 0px, 241px 31px, 241px 68px, 226px 82px, 219px 131px, 250px 142px, 250px 158px, 0px 158px);
shape-outside: polygon(0px 0px, 197px 0px, 241px 31px, 241px 68px, 226px 82px, 219px 131px, 250px 142px, 250px 158px, 0px 158px);
}


aside 
{
background: url(backgroundtime.png);
background-color: #9630d5;
padding: .3em;
padding-left: 2em;
background-size:cover;
}
aside p
{
  font-size: 18px;
}
footer 
{

text-align: center;
font-size: .8em;
padding: 1em;
}
footer p
{
color: #000000;
}
footer a 
{
  font-size: 2em;
}
#award 
{
position: fixed;
top: 30px;
left: 50px;
}
h2 
{
font-family: monospace, Georgia, serif;
}
.day 
{
color: #000000;
font-family: monospace, sans-serif;
font-size: .8em;
text-transform: uppercase;
}